*{
    margin: 0;
    padding: 0;
}


.header
{
    background-color: gray;;
    height: 70px;
}

.alert-text
{
    padding-top: 20px;
    font-size: 0.7cm;
    color: azure;
}
.test{
    width: 222px;
   background-color: red;
}